## Document list
{% for d in documents %}
* [{{ d.title }}](#TODO)
    * `{{ d.date.strftime('%d-%m-%Y') }}`
    {% if d.statuses %}
    * Statuses:
        {% for status in d.statuses %}
        * {{ status }}
        {% endfor %}
    {% endif %}
{% endfor %}
